.outer {
  padding: 1rem 1.5rem 1.2rem;
  border-bottom: 1px solid var(--vscode-panel-border);
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
}

.inner h1 {
  margin: 0;
  font-weight: 600;
}

.name {
  margin: 10px 0 0 0;
  display: flex;
  font-size: 1rem;
  opacity: 0.9;
}

.name svg {
  fill: var(--vscode-icon-foreground);
  margin-right: 6px;
}
