.cta-button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 6px 15px;
  outline: none;
  display: inline-block;
  text-decoration: none;
  line-height: 1.3rem;

  &:hover,
  &:focus {
    background-color: var(--vscode-button-hoverBackground);
    color: var(--vscode-button-foreground);
  }
}
