.header-container {
  margin-bottom: 20px;
}

.header {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  padding: 30px 0 20px;
  border-bottom: 2px solid var(--vscode-panel-border);

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-weight: 600;
  }
}

.job-name {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  opacity: 0.8;

  img {
    margin-right: 6px;
  }
}

.header-right {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.job-icon {
  fill: var(--vscode-icon-foreground);
  margin-right: 6px;
}

.filters {
  display: flex;
  align-items: center;
}

.sorts {
  margin: 0 12px 0;
  padding-left: 10px;
  border-left: 1px solid var(--vscode-panel-border);

  a {
    margin-left: 5px;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}
