body {
	padding: 10px 20px;
	line-height: 22px;
	max-width: 882px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	padding: 30px 0 20px;
	border-bottom: 2px solid var(--vscode-panel-border);

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		margin: 0;
		font-weight: 600;
	}

	.name {
		margin: 10px 0 0 0;
    display: flex;
		align-items: center;
		font-size: 1rem;
		opacity: 0.8;

		img {
			margin-right: 6px;
		}
	}
}

.header-right {
	margin-top: 15px;

	@media (min-width: 768px) {
		margin-top: 0;
	}

	form {
		position: relative;
	}
}

.search-input {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	border: none;
	padding: 7px 10px;
	width: 200px;
	box-sizing: border-box;

	&.has-query {
		padding-right: 30px;
	}
}

.search-clear {
	position: absolute;
	right: 0;
	top: 50%;
	background: none;
	border: none;
	cursor: pointer;
	transform: translateY(-50%);
	margin-top: 2px;

	&:focus {
		outline: solid 1px var(--vscode-input-foreground);
	}
}

.no-tests {
	margin: 0;
	display: flex;
	align-items: center;

	img {
		margin-right: 6px;
	}
}

.tests {
	margin-bottom: 20px;
}

.test-row {
	border-bottom: 1px solid var(--vscode-panel-border);
	padding: 12px 0 14px 0;
}

.test-classname {
	margin: 0;
	opacity: 0.8;
}

.test-name {
	margin: 5px 0 0;
	font-size: 1rem;

	img {
    margin-right: 6px;
    position: relative;
    top: 1px;
	}
}

.load-more {
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	border: none;
	padding: 8px 15px;
	outline: none;
	margin-top: 15px;

	&:hover,
	&:focus {
		background-color: var(--vscode-button-hoverBackground);
	}
}
