body {
  padding: 10px 20px;
  line-height: 22px;
  max-width: 882px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.welcome-header {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  padding: 30px 0 20px;
  border-bottom: 2px solid var(--vscode-panel-border);

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  svg {
    fill: var(--vscode-icon-foreground);
    margin-right: 15px;
  }

  h1 {
    margin: 0;
    font-weight: 600;
  }

  .version {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.2em;
  }
}

.token-container {
  display: flex;

  input[type="text"] {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: none;
    padding: 7px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 10px;
  }
}

.welcome-changelog {
  background-color: var(--vscode-textBlockQuote-background);
  font-size: 0.8em;
  padding: 15px 20px;
}
