.test-result {
  border-bottom: 1px solid var(--vscode-panel-border);
  padding: 9px 10px 11px;

  &:first-child {
    border-top: 1px solid var(--vscode-panel-border);
  }

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.test-classname {
  margin: 0;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}

.test-duration {
  display: flex;
  align-items: center;

  svg {
    margin-right: 3px;
    fill: var(--vscode-icon-foreground);
  }
}

.test-name {
  margin: 3px 0 0;
  font-size: 0.95rem;

  svg {
    margin-right: 6px;
    position: relative;
    top: 1px;
  }
}

.test-message {
  margin: 5px 0 0;

  summary {
    outline: none;
    cursor: pointer;
  }
}

.test-message-content {
  font-family: var(--vscode-editor-font-family);
  background-color: var(--vscode-textCodeBlock-background);
  padding: 15px;
  margin-top: 10px;
  border-radius: 3px;
  max-height: 240px;
  overflow-y: scroll;
}
